<div class="div-change-pass" style="width: 500px;">
  <div class="modal-header bg-primary text-light">
    <h5 class="modal-title fw-bold" id="exampleModalLongTitle">{{data.title}}</h5>

    <div type="button" (click)="close()">
      <i class="fa-solid fa-xmark  h-15px "></i>
    </div>
 
  </div>
  <div class="modal-body bg-white">
    <div class="col-12">



      <div class="d-flex flex-wrap form-group  mb-3">
        <div class="input-group " >
        <div class="form-text div-flex-center col-5 pl-0">
          <label>Mật khẩu cũ</label>
          <label class="color-red">*</label>
        </div>
 
        <div class=" col-7">

          <app-input-pass [(password)]="user.passwordOld"   [(checkVaild)]="checkPassOld"  inputName="txt-pass-old"     ></app-input-pass>
 
        </div>
      </div>

        <div class="col-12 ">
          <label  *ngIf="checkPassOld.invalid && (checkPassOld.dirty || checkPassOld.touched)" class="text-danger mt-1">Mật khẩu tối thiểu 6 ký tự, tối đa 100 ký tự, chỉ viết liền, không dấu</label>
      </div>

      </div>
 
      <div class="d-flex flex-wrap form-group  mb-3">
        <div class="input-group " >
        <div class="form-text div-flex-center col-5 pl-0">
          <label>Mật khẩu mới</label>
          <label class="color-red">*</label>
        </div>
 
        <div class="  col-7">

          <app-input-pass [(password)]="user.password"   [(checkVaild)]="checkPass"  inputName="txt-pass"     ></app-input-pass>
 
        </div>
     
      </div>
      <div class="col-12 ">
        <label  *ngIf="checkPass.invalid && (checkPass.dirty || checkPass.touched)" class="text-danger mt-1">Mật khẩu tối thiểu 6 ký tự, tối đa 100 ký tự, chỉ viết liền, không dấu</label>
    </div>
  </div>

    

      <div class="d-flex flex-wrap form-group  mb-3">
        <div class="input-group " >
        <div class="form-text div-flex-center col-5 pl-0">
          <label>Nhập lại mật khẩu mới</label>
          <label class="color-red">*</label>
        </div>

        
        <div class="  col-7">

          <app-input-pass [(password)]="user.rePassword"   [(checkVaild)]="checkRePass"  inputName="txt-re-pass"      ></app-input-pass>
 
        </div>
      </div>
        <div class="col-12 pl-0">
          <label  *ngIf="checkRePass.invalid && (checkRePass.dirty || checkRePass.touched)"  class="text-danger mt-1">Nhập lại mật khẩu không đúng</label>
        </div>
      </div>

      
    </div>

  </div>
  <div class="modal-footer bg-white justify-content-center">

    <button class="btn btn-primary rounded" (click)="save()"><i
        class="fa-regular fa-floppy-disk p-right-5"></i>Lưu</button>

    <button class="btn btn-light rounded" (click)="close()">
      <i class="fa-solid fa-ban p-right-5"></i>Đóng</button>


  </div>
</div>