<div class="div-edit-user" style="width: 790px;">
    <div class="modal-header bg-primary text-light">
        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">{{data.title}}</h5>

        <div type="button" (click)="close()">
            <i class="fa-solid fa-xmark  h-15px "></i>
        </div>

    </div>
    <div class="modal-body bg-white">
        <div class="d-flex">
            <div class="col-6 pe-3">
                <div class="  input-group mb-3 ">
                    <div class="  input-group  ">
                        <div class=" form-text div-flex-center col-5 ">
                            <label>Tên đăng nhập</label>
                            <label class="color-red">*</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control  " [disabled]="data.statusForm == 'edit'"
                                maxlength="50" [(ngModel)]="user.username"
                                [ngClass]="{'is-invalid' : isErrorUsername == true }" placeholder=" " required="true"
                                aria-label="Username" (change)="checkChangeUsername()" aria-describedby="basic-addon1">

                        </div>

                    </div>
                    <div class="col-12 ">
                        <label *ngIf="isErrorUsername" class="text-danger mt-1">{{errorUsername}}</label>
                    </div>
                </div>
                <div class="  input-group mb-3 ">
                    <div class="  input-group   ">
                        <div class=" form-text div-flex-center col-5 ">
                            <label>Ngày sinh</label>
                            <label class="color-red">*</label>
                        </div>
                        <div class="col">

                            <kendo-datepicker [(ngModel)]="user.birthday" [formControl]="formControlBirthday"
                                (blur)="checkValidAfter()" class=" border px-0 col datepicker ">
                                <kendo-datepicker-messages today="Hôm nay"
                                    toggle="Chọn ngày"></kendo-datepicker-messages>
                            </kendo-datepicker>
                        </div>

                    </div>
                    <div class="col-12 "
                        *ngIf="formControlBirthday.invalid && (formControlBirthday.dirty || formControlBirthday.touched)">
                        <label *ngIf="formControlBirthday.errors?.['required']" class="text-danger mt-1">Ngày sinh không
                            được
                            để trống </label>
                        <label *ngIf="formControlBirthday.errors?.['not18']" class="text-danger mt-1">Người dùng phải đủ
                            18
                            tuổi trở lên </label>
                    </div>
                </div>

                <div class="  input-group mb-3 ">
                    <div class="  input-group  ">
                        <div class=" form-text div-flex-center col-5 ">
                            <label>Điện thoại</label>
                            <label class="color-red">*</label>
                        </div>
                        <div class="col">
                            <input [formControl]="formControlPhone" type="text" class="form-control " id="checkPhone"
                                name="checkPhone" maxlength="10" [(ngModel)]="user.phone" required
                                (blur)="checkValidAfter()">

                        </div>

                    </div>
                    <div class="col-12 ">
                        <div *ngIf="formControlPhone.invalid && (formControlPhone.dirty || formControlPhone.touched)">

                            <div class="text-danger mt-1">Số điện thoại tối đa 10 ký tự, chỉ nhập số</div>

                        </div>
                    </div>
                </div>
                <div class="  input-group mb-3 ">
                    <div class="  input-group   " *ngIf="data.statusForm == 'add'">
                        <div class="form-text div-flex-center col-5 ">
                            <label>Mật khẩu</label>
                            <label class="color-red">*</label>
                        </div>

                        <div class="col">

                            <app-input-pass [(password)]="user.password" [(formControl)]="formControlPass"
                                inputName="txt-pass" (change)="checkValidAfter()">

                            </app-input-pass>

                        </div>

                    </div>
                    <div class="col-12 ">
                        <label *ngIf="formControlPass.invalid && (formControlPass.dirty || formControlPass.touched)"
                            class="text-danger mt-1">Mật khẩu tối thiểu 6 ký tự, tối đa 100 ký tự, chỉ viết liền, không
                            dấu</label>
                    </div>
                </div>
                <div class="  input-group mb-3 ">
                    <div class="  input-group   " *ngIf="data.statusForm == 'add'">
                        <div class="form-text div-flex-center col-5">
                            <label>Nhập lại mật khẩu</label>
                            <label class="color-red">*</label>
                        </div>
                        <div class="col">

                            <app-input-pass [(password)]="user.rePassword" [(formControl)]="formControlRePass"
                                inputName="txt-repass" (change)="checkValidAfter()"></app-input-pass>
                        </div>

                    </div>
                    <div class="col-12 ">
                        <label
                            *ngIf="formControlRePass.invalid && (formControlRePass.dirty || formControlRePass.touched)"
                            class="text-danger mt-1">Nhập lại mật khẩu không đúng</label>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="  input-group mb-3 ">
                    <div class="  input-group   ">
                        <div class=" form-text div-flex-center col-5 ">
                            <label>Họ tên nhân viên</label>
                            <label class="color-red">*</label>
                        </div>
                        <div class="col">
                            <input type="text" [formControl]="formControlFullname" class="form-control " name="txt-ten"
                                maxlength="200" [(ngModel)]="user.fullName" placeholder=" " (blur)="checkValidAfter()">
                        </div>
                    </div>
                    <div class="col-12 ">
                        <label
                            *ngIf="formControlFullname.invalid && (formControlFullname.dirty || formControlFullname.touched)"
                            class="text-danger mt-1">Họ tên không được để trống</label>
                    </div>
                </div>

                <div class="  input-group mb-3 ">
                    <div class=" form-text div-flex-center col-5 ">
                        <label>Giới tính</label>
                        <label class="color-red">*</label>
                    </div>
                    <div class="col">
                        <select class="form-control " [(ngModel)]="user.sexId">
                            <option *ngFor="let option of gioiTinhList" [value]="option.value">
                                {{ option.viewValue }}</option>
                        </select>
                    </div>

                </div>

                <div class="  input-group mb-3 ">
                    <div class="  input-group   ">
                        <div class=" form-text div-flex-center col-5 ">
                            <label>Email</label>
                        </div>
                        <div class="col">
                            <input type="text" [formControl]="formControlEmail" class="form-control " name="txt-mail"
                                maxlength="200" [(ngModel)]="user.email" placeholder=" " (blur)="checkValidAfter()">
                        </div>
                    </div>
                    <div class="col-12">
                        <label *ngIf="formControlEmail.invalid && (formControlEmail.dirty || formControlEmail.touched)"
                            class="text-danger mt-1">Email phải đúng định dạng, chỉ viết liền, không dấu</label>
                    </div>
                </div>


                <div class="  input-group form-control border-0 mb-3 px-0">
                    <div class="div-flex-center col-5  form-text ">
                        <label role="button" for="isAdmin">Là Admin</label>
                    </div>
                    <div>
                        <input class="mb-2 form-check-input" role="button" type="checkbox" [(ngModel)]="user.isAdmin"
                            id="isAdmin">
                    </div>
                </div>
                <div class="  input-group form-control border-0 mb-3 px-0  ">
                    <div class="form-check-label div-flex-center col-5 form-text ">
                        <label role="button" for="isActive">Hoạt động</label>
                    </div>
                    <div class="">
                        <input class="mb-2 form-check-input" type="checkbox" role="button" [(ngModel)]="user.isActive"
                            id="isActive">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer bg-white justify-content-center">

        <button class="btn btn-primary rounded" [disabled]="disabledAdd" (click)="save()"><i
                class="fa-regular fa-floppy-disk p-right-5"></i>Lưu</button>

        <button class="btn btn-primary  rounded " *ngIf="data.statusForm == 'add'" [disabled]="disabledAdd"
            (click)="saveAdd()"><i class="fa-regular fa-floppy-disk p-right-5"></i>Lưu và thêm</button>

        <button class="btn btn-light rounded" (click)="close()">
            <i class="fa-solid fa-ban p-right-5"></i>Đóng</button>

    </div>
</div>