<div class="">
  <div class="div-container-user pt-2">

    <div class="d-flex mt-2 mb-2 font-weight-bold text-primary">
      THỐNG KÊ VI PHẠM VỀ TỐC ĐỘ THEO ĐƠN VỊ VẬN TẢI

    </div>

    <div class="row no-gutters mr-0 mb-3">
      <div class=" col  row no-gutters">

        <div class="col-xl-5 col-lg-6  col-sm-7 col-12 row no-gutters">

          <div class="col-sm-6 col-12 row no-gutters mt-1 pr-4">

            <label class=" col-form-label w-100  mx-2">Từ ngày</label>

            <kendo-timepicker [value]="timeFrom" (blur)="setDefaultTimeFrom()" class=" border timepicker mr-2 mt-1"
              [(ngModel)]="timeFrom">
              <kendo-timepicker-messages accept="Chọn" acceptLabel="Chọn giờ" cancel="Hủy" cancelLabel="Hủy chọn"
                now="Giờ hiện tại" nowLabel="Chọn giờ hiện tại" toggle="Chọn giờ"></kendo-timepicker-messages>
            </kendo-timepicker>

            <kendo-datepicker [value]="dayFrom" (blur)="setDefaultDayFrom()" [(ngModel)]="dayFrom"
              class=" border  col datepicker  mt-1 ">
              <kendo-datepicker-messages today="Hôm nay" toggle="Chọn ngày"></kendo-datepicker-messages>
            </kendo-datepicker>

          </div>
          <div class="col-sm-6 col-12 row no-gutters mt-1 pr-4">
            <label class="  col-form-label w-100  mx-2">Đến ngày</label>
            <kendo-timepicker [value]="timeTo" (blur)="setDefaultTimeTo()" class=" border timepicker mr-2 mt-1"
              [(ngModel)]="timeTo">
              <kendo-timepicker-messages accept="Chọn" acceptLabel="Chọn giờ" cancel="Hủy" cancelLabel="Hủy chọn"
                now="Giờ hiện tại" nowLabel="Chọn giờ hiện tại" toggle="Chọn giờ"></kendo-timepicker-messages>
            </kendo-timepicker>

            <kendo-datepicker [value]="dayTo" (blur)="setDefaultDayTo()" [(ngModel)]="dayTo"
              class=" border  col datepicker  mt-1 ">
              <kendo-datepicker-messages today="Hôm nay" toggle="Chọn ngày"></kendo-datepicker-messages>
            </kendo-datepicker>

          </div>
        </div>

        <div class="col-xl-7 col-lg-6  col-sm-5 col-12 row no-gutters mt-1" style="flex-direction: column;">
          <label class="  col-form-label w-100  mx-2 h-fit">Phương tiện</label>

          <div class="w-100 row no-gutters">
            <ng-multiselect-dropdown [placeholder]="'Chọn phương tiện'" [settings]="dropdownSettings"
              [data]="dropdownList" [(ngModel)]="selectedItems" class=" mr-4 col">
            </ng-multiselect-dropdown>

            <button class="btn btn-primary rounded btn-search mt-1 mr-0 h-fit" (click)="getDataReport()">
              <i class="fa-solid fa-magnifying-glass pr-2"></i>
              Xem báo cáo</button>
          </div>
        </div>

      </div>

    </div>

    <div class="pb-2">
      <div class="border border-top-0">
        <div class="table-scroll">
          <!-- table bootstrap -->
          <table class="table table-bordered table-hover custom-mat-table align-middle border-left-0 border-right-0"
            id="tableToExport" width="100%" #table>
            <thead class="align-middle">
              <tr>
                <th scope="col" class="w-8 text-light   custom-header  text-center border-left-0 border-bottom "
                  rowspan="2">STT</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center  border-bottom " rowspan="2">Phương
                  tiện</th>

                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom " rowspan="2">Loại
                  hình</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom-0" colspan="6">Số lần
                  vi phạm tốc độ</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom-0" colspan="3">Quãng
                  đường</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom-0" colspan="3">Thời
                  gian</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center border-right-0 border-bottom "
                  rowspan="2">Ghi chú</th>

              </tr>
              <tr>
                <th scope="col" class="w-8 text-light   custom-header  text-center w-80px border-bottom ">5 km/h - 10
                  km/h</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center w-80px border-bottom ">10 km/h - 20
                  km/h</th>

                <th scope="col" class="w-10 custom-header  text-light  text-center w-80px border-bottom ">20 km/h - 35
                  km/h</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center w-80px border-bottom ">Trên 35 km/h
                </th>

                <th scope="col" class="w-10 custom-header  text-light  text-center w-80px border-bottom ">Tổng cộng</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center w-160px border-bottom ">Số lần vi
                  phạm /1000 km
                  phương tiện
                  chạy</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom ">Km vi phạm</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom ">Tổng phương tiện
                  chạy</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom ">Tỉ lệ %</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom ">Thời gian vi phạm
                </th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom w-135px">Tổng thời
                  gian phương tiện
                  chạy
                </th>
                <th scope="col" class="w-10 custom-header  text-light  text-center  border-bottom ">Tỉ lệ %</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataReport">
                <td class="w-8 text-center align-middle border-left-0">{{item.stt}}</td>
                <td class="w-8 text-center align-middle">{{item.privateCode }}</td>

                <td class=" text-center align-middle">
                  {{item.transportTypeName}}</td>
                <td class=" text-center align-middle">
                  {{item.sum5To10 | numberReport}}
                </td>
                <td class=" text-center align-middle">{{item.sum10To20 | numberReport}}</td>
                <td class=" text-center align-middle">{{item.sum20To35 | numberReport}}</td>
                <td class=" text-center align-middle">{{item.sumFrom35 | numberReport}}</td>
                <td class=" text-center text-primary align-middle">{{item.sumTotal | numberReport}}</td>
                <td class=" text-center  align-middle">{{item.violatePer100Km | numberReport}}</td>
                <td class=" text-center align-middle">{{item.violateKm | numberReport}}</td>
                <td class=" text-center align-middle">{{item.totalKm | numberReport}}</td>
                <td class=" text-center align-middle">{{item.percentRate | numberReport}}</td>
                <td class=" text-center align-middle">{{item.violateTimeText}}</td>
                <td class=" text-center align-middle">{{item.totalTimeText}}</td>
                <td class=" text-center align-middle">{{item.percentRateTime | numberReport}}</td>
                <td class=" text-center align-middle  border-right-0"> </td>

              </tr>

            </tbody>
          </table>
        </div>
        <!--end table bootstrap -->

        <nav aria-label="Page navigation example " class="bg-light d-flex flex-wrap footer-table"
          style="justify-content: space-between;">
          <div class="d-flex flex-wrap">
            <ul class="pagination m-2 flex-wrap">

              <li class="page-item">
                <a class="page-link" role="button" (click)="minPage()">
                  <i class="fa-solid fa-backward-step"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" role="button" (click)="prePage()">
                  <i class="fa-solid fa-play  " style="transform: rotate(180deg); "></i>
                </a>
              </li>
              <li class="page-item" [ngClass]="{'active': pageNumber == page.value}" *ngFor="let page of arrayPage">
                <a class="page-link" role="button" (click)="selectPage(page.value)">{{page.text}}</a>
              </li>

              <li class="page-item">
                <a class="page-link" role="button" (click)="nextPage()">
                  <i class="fa-solid fa-play  "></i>
                </a>
              </li>
              <li class="page-item  ">
                <a class="page-link" role="button" (click)="maxPage()">
                  <i class="fa-solid fa-forward-step"></i>
                </a>
              </li>

            </ul>
            <ul class="d-flex pagination m-2 flex-wrap">
              <li class="ml-2 mr-2 ">
                <select class="form-control mx-2 combo-item" role="button" [(ngModel)]="pageSize"
                  (change)="ChangeCbbPageSize()">
                  <i style="padding-top: 8px" class="fa-solid fa-caret-down icon-dropbtn"></i>
                  <option *ngFor="let option of listPaging" [value]="option.value">
                    {{ option.value }}</option>
                </select>

              </li>
              <li class="d-flex align-items-center">
                <label class="mb-0 ml-2">Dòng mỗi trang</label>
              </li>

            </ul>
          </div>
          <ul class="flex-right m-2 pagination">
            <li class="d-flex align-items-center h-100">
              <label class="mr-2 mb-0">{{rowStart}} - {{rowEnd}} trên tổng {{totalCountListAll}} dòng</label>
              <i class="fa-solid fa-rotate-right" role="button" (click)="getDataReport()"></i>
            </li>

          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>