<header>

  <nav class="navbar navbar-expand-sm navbar-light  box-shadow pad-lr-40">
    <a href="https://bagps.vn/" target="_blank" rel="noopener noreferrer">
      <img id="img" draggable="false" class="style-scope yt-img-shadow" alt="" width="80"
        src="http://gps3.binhanh.vn/assets/images/login/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  div-mobile-menu" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center font-menu" style="margin: auto;">
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/" target="_blank" rel="noopener noreferrer">{{
            'home_page' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/san-pham-va-giai-phap" target="_blank"
            rel="noopener noreferrer">{{ 'product' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/tin-tuc-c10" target="_blank" rel="noopener noreferrer">{{
            'news' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/huong-dan-dong-phi-dich-vu-ba-gps-d610" target="_blank"
            rel="noopener noreferrer">{{ 'fee' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://badoc.bagroup.vn/display/GPS/1.+HDSD+WEB+GPS" target="_blank"
            rel="noopener noreferrer">{{ 'tutorial' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/mang-luoi" target="_blank" rel="noopener noreferrer">{{
            'mang_luoi' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://bagps.vn/gioi-thieu/" target="_blank" rel="noopener noreferrer">{{
            'about_us' | translate }}</a>
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right justify-content-center" style="flex-direction: row;">
        <div class="phone-lang  d-flex-item-centre h-40">
          <a class=" div-tel color-phone d-flex-item-centre  " href="tel:1900 6464">
            <i class="fa-solid fa-phone color-phone p-right-5"></i> 1900 6464
          </a>
        </div>
        <div class="phone-lang  d-flex-item-centre ">
          <div class="dropdown">
            <button class="dropbtn">
              <img width="20" height="20" class="img-flag" src="{{langModel.img}}" />
              <div class="div-dropbtn font-menu">
                {{langModel.text}}
              </div>
              <i class="fa-solid fa-caret-down icon-dropbtn"></i>
            </button>
            <div class="dropText font-menu">
              <div class="div-item-lang" *ngFor="let lang of dropDownData;let indexOfelement=index;">
                <a (click)="setLanguage(lang.val,indexOfelement)">
                  <img class="img-flag" src="{{lang.img}}" width="20" height="20"> {{lang.text}}
                </a>
              </div>

            </div>
          </div>

        </div>
        <!-- div user -->
        <div class=" d-flex-item-centre  div-user h-40" *ngIf="isNavbarVisible">
          <div class="dropdown">
            <button class="dropbtn">
              <div class="img-flag border-user">
              <img width="30" height="30" class="" style="margin-bottom: -2px;" src="/assets/img/user1.png" />
            </div>
              <i style="padding-top: 8px" class="fa-solid fa-caret-down icon-dropbtn"></i>
            </button>
            <div class="dropText-lang font-menu" style="width: 108px;min-width: unset!important;">
              <div class="div-item-lang d-flex-item-centre pad-rl-5" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket p-right-5"></i>
                Đăng xuất
              </div>
              <div class="div-item-lang d-flex-item-centre pad-rl-5" (click)="onChangePass()">
                <i class="fa-solid fa-lock p-right-5"></i>

                Đổi mật khẩu
              </div>
            </div>
          </div>

        </div>
      </ul>

    </div>
  </nav>
</header>