   .pad-lr-40 {
     padding-left: 40px;
     padding-right: 40px;
   }

   .div-mobile-menu1 {
     display: inline-flex;
   }

   .color-phone {
     color: rgb(11, 176, 229) !important
   }

   .button-toggler1 {
     display: none;
   }

   .div-phone {
     display: flex;
     position: absolute;
     right: 203px;
     top: 0px;
     min-width: 90px
   }

   .div-container-menu-all {
     height: auto;
     min-height: 40px;
     position: relative;
     justify-content: start;
     padding-right: 250px
   }



   .padding-lr-10 {
     padding-left: 10px;

   }

   .margin-bot-0 {
     margin-bottom: 0px !important
   }

   .img-flag {
     border-radius: 20px;
     margin-right: 7px;
   }

   /*test*/
   .dropbtn {
     background-color: transparent;
     border: none;
     padding: 10px;
     font-size: 20px;
     cursor: pointer;
     display: flex;
   }

   .dropdown {
     position: relative;
     display: inline-block;
     width: 120px;
   }

   .dropText-lang {
     display: none;
     position: absolute;
     /*background-color: skyblue;*/
     min-width: 130px;
     width: 130px;
     background-color: white;
     z-index: 1;
     margin-left: -24px
   }

   .dropText {
     display: none;
     position: absolute;
     /*background-color: skyblue;*/
     min-width: 130px;
     width: 130px;
     background-color: white;
     z-index: 1;

   }

   .dropText a {
     color: black;
     padding: 10px;
     text-decoration: none;
     display: block;
     cursor: pointer;
   }

   .dropText a:hover {
     /*background-color: blue;*/
     color: red;
   }

   .dropdown:hover .dropText {
     display: block;
   }

   .dropdown:hover .dropText-lang {
     display: block;
   }

   .dropdown:hover .dropbtn {
     /*background-color: yellow;*/
   }

   /*end test*/


   .w-100per {
     width: 100%
   }

   .border-none {
     border: none
   }

   .div-dropbtn {
     margin-right: 5px;
     text-align: left;
     min-width: 65px
   }

   .icon-dropbtn {
     color: rgb(206, 214, 224) !important;
     padding-top: 3px
   }

   .div-lang {
     display: flex;
     position: absolute;
     right: 77px;
     top: 0px;
     min-width: 90px
   }

   .div-tel {
     border-radius: 25px;
     border: 0.5px solid rgb(11, 176, 229);
     /*padding: 5px;*/
     color: rgb(11, 176, 229);
     text-decoration: none;
     /* height: 34px;
  margin-top: 3px;
  width: 122px; */
     text-align: center;
     padding: 5px;
     padding-right: 10px;
     padding-left: 10px;
   }

   a.navbar-brand {
     white-space: normal;
     text-align: center;
     word-break: break-all;
   }

   .border-user {
     border: 0.5px solid rgb(11, 176, 229)
   }

   html {
     font-size: 14px;
   }

   @media (min-width: 768px) {
     html {
       font-size: 16px;
     }
   }

   .div-user {
     display: flex;

     width: 50px;
   }

   .box-shadow {
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
   }

   .d-flex-item-centre {
     display: flex;
     align-items: center;
   }