<div class="col-12">
  <!-- <script>
    // Tạo một mảng số ban đầu
    var numbers = [1, 2, 3, 4, 5];
    
    // Lấy thẻ div để chứa các ô input
    var inputContainer = document.getElementById('input-container');
    
    // Gán các thẻ input dựa trên số phần tử của mảng
    for (var i = 0; i < numbers.length; i++) {
      var input = document.createElement('input');
      input.type = 'number';
      input.value = numbers[i];
      input.setAttribute('oninput', 'updateArrayValue(' + i + ', this.value)');
      inputContainer.appendChild(input);
    }
    
    // Hàm cập nhật giá trị của phần tử trong mảng khi thay đổi ô input
    function updateArrayValue(index, value) {
      numbers[index] = Number(value);
    }
    
    // Hàm in ra mảng đã thay đổi
    function printArray() {
      console.log(numbers);
    }
    
    
    
    </script> -->
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>lop</th>
          <th>lop1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="6" >1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>1</td>
          
        </tr>
        <tr>
          <td colspan="2" >1</td>
          
        </tr>
        <tr>
          <td>1</td>
          
        </tr>
        <tr>
          <td>1</td>
          
        </tr>
        <tr>
          <td>1</td>
          
        </tr>
        
      </tbody>
    </table>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>


  </div>
</div>

<!-- <div class="input-container">
<input class="input-arr" *ngFor="let item of arrayDiv;let indexOfelement=index;" value="{{item}}" (change)="setValueInput($event,indexOfelement)" >

</div>
<button (click)="getArr()">get arr</button> -->

<div class="container">
  <div class="content">
    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </div>
</div>

<style>
  .container {
  display: table;
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.text {
  display: inline-block;
  line-height: normal;
}

</style>
