<link rel="icon" type="image/x-icon" href="../assets/img/logoBA.jpg">
<body>


  <!-- <div style="overflow: auto;">
<table>
  <thead style="position: sticky;
  top: -1px;
  z-index: 1;
  background-color: white;">
    <tr>
      <th>
        <app-nav-menu></app-nav-menu>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="container full-width">
     
          <router-outlet></router-outlet>
        </div>

      </td>
    </tr>
  </tbody>
</table>
</div> -->



<div style="margin: 0;
display: flex;
flex-direction: column;
min-height: 100vh;">

  <app-nav-menu style="flex-shrink: 0;"></app-nav-menu>
  <div class="container full-width">
     
    <router-outlet></router-outlet>
  </div>
</div>



</body>
<style>
 
  .full-width {
    max-width: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
    padding-right: 0px;
    padding-left: 0px;


    flex-grow: 1;
  padding: 20px;
  }
</style>
