<div class="modal-comfirm" style="width: 500px;">
  <div class="modal-header bg-primary text-light">
    <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">
      {{data.title}}</h5>

    <div type="button" (click)="close()">
      <i class="fa-solid fa-xmark  h-15px "></i>
    </div>

  </div>
  <div class="modal-body bg-white">
    <label class="">
      {{data.content}}
    </label>
    <br>
    <label class="font-weight-bold">
      {{data.contentBold}}
    </label>
  </div>
  <div class="modal-footer bg-white justify-content-center">

    <button class="btn btn-primary rounded" (click)="save()">
      <i class="fa-solid fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-light rounded" (click)="close()">
      <i class="fa-solid fa-ban"></i>
      Đóng</button>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="">
          {{data.content}}
        </label>
        <br>
        <label class="fw-bold">
          {{data.contentBold}}
        </label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary rounded" (click)="save()">
          <i class="fa-solid fa-check"></i>
          Đồng ý</button>
        <button class="btn btn-light rounded" (click)="close()">
          <i class="fa-solid fa-ban"></i>
          Đóng</button>

      </div>
    </div>
  </div>
</div>