<div class="modal-comfirm" style="width: 500px;">
  <div class="modal-header bg-primary text-light">
    <h5 class="modal-title fw-bold" id="exampleModalLongTitle">
      {{data.title}}</h5>
    <button type="button" (click)="close()"
     class="btn-close text-white " data-dismiss="modal" 
     aria-label="Close"
      style="opacity: 1;background: none;">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
  <div class="modal-body bg-white">
    <label class="">
      {{data.content}}
    </label>
    <br>
    <label class="fw-bold">
      {{data.contentBold}}
    </label>
  </div>
  <div class="modal-footer bg-white justify-content-center">

    <button class="btn btn-primary rounded" (click)="save()">
      <i class="fa-solid fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-light rounded" (click)="close()">
      <i class="fa-solid fa-ban"></i>
      Đóng</button>

  </div>
</div>
<style>
  .btn-exit:focus-visible{
    border: none;
  }
</style>