@media (max-width: 300px) {
    .container-button {
        display: block !important;
    }

    .button-export {
        justify-content: start !important;
      
        margin-top: 5px;
     
    }

    .div-gioi-tinh {
        display: block !important;
    }

    .btn-search {
        margin-top: 5px;
    }

}

@media (max-width: 575.98px) {
.pagination-container{
    display: block!important;
}
    .input-search {
        width: 100%;
    }

    .container-search {

        flex-wrap: wrap;
    }

    .respon-mobile {
        margin-top: 5px;
        width: 100%;
        display: block !important;
        /* justify-content: start !important; */
    }

    .date-to {
        margin-top: 5px;
    }

    .div-gioi-tinh {
        margin-top: 5px;
    }

    .container-button {
        /* display: block!important; */
    }

    /* .button-export {
        margin-top: 5px;
    } */
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .input-search {
        width: 100%;
    }

    .container-search {

        flex-wrap: wrap;
    }

    .respon-mobile {
        margin-top: 5px;
        width: 100%;
        /* justify-content: start !important; */
    }

    .div-gioi-tinh {
        margin-top: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .input-search {
        width: 100%;
    }

    .container-search {

        flex-wrap: wrap;
    }

    .respon-mobile {
        margin-top: 5px;
        width: 100%;
        /* justify-content: start !important; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    

    .respon-mobile {
        margin-top: 0px;
        width: auto;
        /* justify-content: end !important; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    

    .respon-mobile {
        margin-top: 0px;
        width: auto;
        /* justify-content: end !important; */
    }
}


/* 
@media screen and (max-width: 670px){
.d-flex{
    display: flex!important;
    flex-wrap: wrap;
}
.row-common{
    height: auto!important;
}
.respon-mobile{
    margin-top: 5px;
    justify-content: start!important;
}
} */
.pagination-container{
    display: flex;
}
.combo-item{
    min-width: 60px;
}
.custom-header {
    background-color: rgb(45, 156, 219);

}

.mat-form-field-infix {
    border-top-width: 0px;
    padding-top: 0px;
}


.p-left-0 {
    padding-left: 0px;
}

.w-auto {
    width: auto;
}

.pad-left-0 {
    padding-left: 0px;
}

.table-scroll {
    height: calc(100vh - 256px);
    min-height: 350px;
    overflow: auto;
}

/* .div-search{
    min-width: 565px;
} */
.custom-mat-row {
    /* height: auto;  
    display: table-row;   */
}

.w-8 {
    width: 8%;
    min-width: 8%;
}

.min-w-105 {
    min-width: 105px;
}

.w-10 {
    width: 10%;
}

.custom-mat-table {
    max-height: calc(100vh - 263px);

    /* min-height: 350px; */
    /* overflow: auto; */
    /* display: block; */
}

.ho-ten-column,
.ngay-sinh-column,
.email-column,
.username-column,
.sdt-column {
    width: 14%;

}

.select-column,
.delete-column,
.edit-column,
.id-column,
.gioi-tinh-column {
    width: 8%;

}

.no-border {
    border: none;
}

.border-normal {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding-right: 7px;
    padding-left: 7px;
}

.dropdown:hover .dropText {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.w-80px {
    width: 80px;
}

.dropText {
    display: none;
    position: absolute;
    /*background-color: skyblue;*/
    min-width: 130px;
    width: 130px;
    background-color: white;
    z-index: 1;
}

.active-page {
    background-color: rgb(97, 148, 194) !important;
    color: white !important;
    border-radius: 8px;
}

.margin-lr-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-4 {
    padding-top: 4px;
}

.text-alig-right {
    text-align: right;
}

.text-alig-left {
    text-align: left;
}

.text-alig-center {
    text-align: center;
}

.button-theme {
    background-color: rgb(97, 148, 194);
    color: white;
    border: 1px solid rgb(97, 148, 194);
    /* min-width: 90px; */
}

.div-container-user {
    margin-left: 30px !important;
    margin-right: 30px !important;

}

.button-white {
    background-color: white;
    color: rgb(97, 148, 194);
    border: none;
}

.button-white:hover {
    background-color: rgb(97, 148, 194);
    color: white;
    border-radius: 8px;
}

.row-common {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.w-100per {
    width: 100%;
}