<div class="">
  <div class="div-container-user" style="padding-top:10px">

    <div class="d-flex mt-2 mb-2 fw-bold text-primary">
      Quản trị người dùng

    </div>

    <div class="d-flex row-common container-search" style="margin-bottom:10px;justify-content: space-between;">

      <input type="text" class="col input-search form-control margin-top-5 " maxlength="200"  
        [(ngModel)]="textSearch" placeholder="Tìm theo email, họ tên, sđt, tên đăng nhập ">

      <div class="d-flex   p-left-0     pr-0 respon-mobile">
        <div class="d-flex">
          <label class="me-2 ms-2 col-form-label">Ngày sinh từ</label>

          <input type="text"   class="form-control datepicker  me-2  " bsDatepicker [(ngModel)]="birthdayFrom"
            placeholder="Chọn ngày">


            <!-- <div class="input-group">
              <input
                class="form-control"
                placeholder="nhập ngày"
                name="dp"
                [(ngModel)]="birthdayFrom"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="fa-solid fa-magnifying-glass "></i>
              </button>
            </div> -->

        </div>
        <div class="d-flex date-to ">
          <label class="me-2    col-form-label">Đến</label>

          <input type="text"   class="form-control datepicker  me-2  " bsDatepicker [(ngModel)]="birthdayTo"
            placeholder="Chọn ngày">
        </div>

        <div class="d-flex  div-gioi-tinh">
          <div class="d-flex">
            <label class="   me-2  col-form-label">Giới tính</label>
            <select class="w-auto me-2 form-control" role="button" [(ngModel)]="gioiTinhSearch" name="gioiTinhSearch">
              <option *ngFor="let option of gioiTinhList" [value]="option.value">
                {{ option.viewValue }}</option>
            </select>
          </div>
          <button *ngIf="isRoleEdit" class="btn btn-primary rounded btn-search" (click)="search()"
            style=" margin-right: 0px">
            <i class="fa-solid fa-magnifying-glass p-right-5"></i>
            Tìm</button>
        </div>
      </div>
    </div>

    <div class="d-flex row-common container-button" style="margin-bottom:10px;justify-content: space-between;">
      <div class="d-flex    p-left-0 justify-content-start">
        <button *ngIf="isRoleAdd" class="btn btn-primary rounded me-2" (click)="add()">
          <i class="fa-solid fa-plus p-right-5"></i>
          Thêm</button>
        <button *ngIf="isRoleDelete && isShowDelete" class="btn btn-danger rounded " (click)="deleteList()">
          <i class="fa-solid fa-trash-can p-right-5" accesskey="">

          </i>Xóa</button>

      </div>
      <div
        class="   d-flex justify-content-end div-search pr-0 button-export">
        <button *ngIf="isRoleAdd" class="btn btn-primary rounded mx-2" (click)="exportToExcel()">
          <i class="fa-regular fa-file-excel pr-1"></i>
          Xuất Excel</button>
        <button *ngIf="isRoleAdd" class="btn btn-primary rounded" (click)="exportTableToPDF()">
          <i class="fa-regular fa-file-pdf pr-1"></i>
          Xuất Pdf</button>

      </div>
    </div>
    <div class="pb-2">
      <div class="border ">
        <div class="table-scroll">
          <!-- table bootstrap -->
          <table class="table table-bordered table-hover custom-mat-table" id="tableToExport" width="100%" #table>
            <thead>
              <tr>
                <th scope="col" class="w-8 text-light   custom-header  text-center ">STT</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center " role="button" (click)="selectAll()">
                  Chọn</th>

                <th scope="col" class="w-10 custom-header  text-light  text-center ">Tên đăng nhập</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center ">Họ tên</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center ">Ngày sinh</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center ">Giới tính</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center ">Điện thoại</th>
                <th scope="col" class="w-10 custom-header  text-light  text-center ">Email</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center ">Trạng thái</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center " *ngIf="isRoleEdit">Sửa</th>
                <th scope="col" class="w-8 custom-header  text-light  text-center " *ngIf="isRoleDelete">Xóa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <td class="w-8 text-center ">{{item.stt}}</td>
                <td class=" text-center "><input type="checkbox" role="button" (change)="changCheckBox()"
                    [(ngModel)]="item.selected"></td>

                <td class=" text-center "
                  [ngClass]="{'text-primary': item.isActive == true,'text-danger': item.isActive == false}">
                  {{item.username}}</td>
                <td class=" text-center " [ngClass]="{'text-end': item.sexId == 1, 
         'text-start': item.sexId == 2, 'text-center': item.sexId == 3}">
                  {{item.fullName}}</td>
                <td class=" text-center ">{{item.birthday | date: formatDate}}</td>
                <td class=" text-center ">{{item.gioiTinhText}}</td>
                <td class=" text-center ">{{item.phone | phoneFormat }}</td>
                <td class=" text-center ">{{item.email}}</td>
                <td class=" text-center min-w-105">
                  <span class="bg-success  text-white p-2 rounded  " *ngIf="item.isActive == true">Hoạt động</span>
                  <span class="bg-danger  text-white p-2 rounded  " *ngIf="item.isActive == false">Vô hiệu hóa</span>
                </td>
                <td class=" text-center " *ngIf="isRoleEdit"> <i class="fa-regular fa-pen-to-square c-poiter"
                    (click)="editUser($event,item)"></i></td>
                <td class=" text-center " *ngIf="isRoleDelete"> <i class="fa-solid fa-trash-can c-poiter text-danger"
                    (click)="deleteUser($event,item)" accesskey="">

                  </i></td>

              </tr>

            </tbody>
          </table>
        </div>
        <!--end table bootstrap -->

        <nav aria-label="Page navigation example " class="bg-light d-flex pagination-container" style="justify-content: space-between;">
          <div class="d-flex flex-wrap">
          <ul class="pagination m-2 flex-wrap">

            <li class="page-item">
              <a class="page-link" role="button" (click)="minPage()">
                <i class="fa-solid fa-backward-step"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" role="button" (click)="prePage()">
                <i class="fa-solid fa-play  " style="transform: rotate(180deg); "></i>
              </a>
            </li>
            <li class="page-item" [ngClass]="{'active': pageNumber == page.value}" *ngFor="let page of arrayPage">
              <a class="page-link" role="button" (click)="selectPage(page.value)">{{page.text}}</a>
            </li>

            <li class="page-item">
              <a class="page-link" role="button" (click)="nextPage()">
                <i class="fa-solid fa-play  "></i>
              </a>
            </li>
            <li class="page-item  ">
              <a class="page-link" role="button" (click)="maxPage()">
                <i class="fa-solid fa-forward-step"></i>
              </a>
            </li>
            
          </ul>
          <ul class="d-flex pagination m-2 flex-wrap">
            <li class="ms-2 me-2 ">
              <select class="form-control mx-2 combo-item" role="button" [(ngModel)]="pageSize" (change)="ChangeCbbPageSize()">
                <option *ngFor="let option of listPaging" [value]="option.value">
                  {{ option.value }}</option>
              </select>

            </li>
            <li class="d-flex align-items-center">
              <label class="mb-0 ms-2">Dòng mỗi trang</label>
            </li>


          </ul>
        </div>
          <ul class="flex-right m-2 pagination">
            <li class="d-flex align-items-center h-100">
              <label class="me-2 mb-0">{{rowStart}} - {{rowEnd}} trên tổng {{totalCountListAll}} dòng</label>
              <i class="fa-solid fa-rotate-right" role="button" (click)="getListUser()"></i>
            </li>

          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>