@media screen and (max-width: 2000px) {
  .div-body-container-all {
    height: calc(100vh - 220px) !important;
    min-height: 468px
  }
}

@media screen and (max-width: 1300px) {
  .div-body-container-all {
    height: calc(100vh - 250px) !important;
    min-height: 468px
  }
}

@media screen and (max-width: 1150px) {
  .div-body-container-all {
    height: calc(100vh - 280px) !important;
  }
}

@media screen and (max-width: 992px) {

  .div-body-container-all {
    height: calc(100vh - 280px) !important;
  }

  .div-xl-bran {
    flex: 0 0 32% !important;
    max-width: 32% !important;
  }
}

@media screen and (max-width: 600px)

/* bắt đầu co div-login div tin tức vào giữa */
  {

  .div-xl-bran {
    flex: 0 0 95% !important;
    max-width: 95% !important;
  }

  .div-body-container-all {
    min-height: 600px !important;
  }

  .div-login {
    right: unset !important;
  }

  .slideshow-container {
    justify-content: center;
    display: flex;
  }

  .mySlides {
    /* display: flex!important; */
    justify-content: center;
  }

  .dp-block {
    display: flex !important
  }

  .div-content-news {
    min-width: 99%;
    margin-left: unset !important;
    min-height: 90px;
  }

  .title-news {
    padding-right: unset !important;
  }

  .des-news {
    padding-right: unset !important;
  }

  .div-detail {
    top: unset !important;
  }

}

@media screen and (max-width: 400px) {

  /* bắt đầu hiện hết 5 chi nhánh */
  .div-container-footer {
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-container-brans {
    width: 100%;
    flex-direction: column;
    overflow: hidden !important;
    padding-bottom: 10px;
  }

  .div-bran {
    width: 100%;

  }

  .div-link-social {
    position: unset !important;
    padding-bottom: 10px;
  }
}

.p-top-2 {
  padding-top: 2px;
}

.div-xl-bran {
  flex: 0 0 18%;
  max-width: 18%;
}

.div-body-container-all {
  height: calc(100vh - 280px);
  min-height: 468px
}

.slide-container-all {
  position: relative !important;
  margin: unset !important;
  max-width: unset !important;
  background-image: url('/assets/img/back-ground.png');
  background-size: 100% 100%
}

.div-container-brans::-webkit-scrollbar {
  width: 5px;
  height: 10px
}

.div-container-brans::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
  height: 5px;
}

.div-container-brans::-webkit-scrollbar-thumb {
  border-radius: 8px;
  height: 5px;
  background-color: rgb(193, 193, 193);
}

.div-container-brans {
  overflow: auto;
  display: flex
}

.inside-active {
  width: 7px;
  height: 7px;
  display: none;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
}

.div-container-footer {

  margin-left: 40px !important;
  margin-right: 40px !important;
  padding-top: 20px;
  position: relative;
  padding-right: 150px;
  flex-wrap: wrap
}

.mar-right-5 {
  margin-right: 5px
}

.mar-right-10 {
  margin-right: 10px
}

.mar-bottom-10 {
  margin-bottom: 10px
}

.mar-right-20 {
  margin-right: 20px
}

.img-app {
  width: 135px;
  height: 51px;
  padding-bottom: 10px
}

.div-dot {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%
}

.btn-login {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(40, 153, 255), rgb(0, 209, 255));
  border: none
}

.mar-top-25 {
  margin-top: 25px
}

.img-social {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.icon-login {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 16px;
  left: 10px;
  color: #717171
}

.div-detail {
  padding-right: 30px;
  border-radius: 20px;
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: rgb(139, 195, 74);
  color: rgb(18, 51, 106);
  display: flex;
  padding-left: 10px
}

.icon-detail {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 12px;
  right: 15px;
  color: rgb(30, 74, 102)
}

.icon-login-end {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  right: 10px;
  color: #717171;
  cursor: pointer;
}

.p-left-30 {
  padding-left: 30px
}

.p-left-right-30 {
  padding-left: 30px;
  padding-right: 30px
}

.div-pass {
  display: flex;
  position: relative;
  width: 100%
}

.margin-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px
}

.border-radius-20 {
  border-radius: 20px
}

.img-login {
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-login {
  position: absolute;
  border-radius: 20px;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 10px;
  min-width: 285px;
  align-content: center;

  height: 70%;
  min-height: 425px;
  justify-content: space-evenly;

}

.div-username {
  display: flex;
  position: relative;
  width: 100%
}

.title-news {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 120px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  padding-bottom: 5px;
}

.des-news {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 120px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.max-size {
  height: 100% !important;
  width: 100%;
}

.div-bran {
  /* margin-right: 30px; */
  height: auto;
  margin-right: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.d-flex {
  display: flex;
}

.div-link-social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px
}

.title-bran {
  font-weight: bold;
  color: rgb(9, 81, 136);
  padding-top: 5px
}

.div-notis {
  color: red;

  width: 100%;
  max-width: 257px;
}

* {
  box-sizing: border-box
}

.img-news {
  width: 100%;
  height: 100%;
  position: relative;
}

.div-content-news {
  color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  margin-left: 40px;
  background: rgba(6, 33, 63, .7);
  height: 70px
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.p-rela {
  position: relative
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 300px;
  background-color: rgb(32, 52, 105)
}

.a-detail {
  text-decoration: none;
  color: rgb(30, 74, 102)
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: background-color 0.6s ease;
}

.active .inside-active {
  display: block;
}

.active,
.dot:hover {
  background-color: transparent;
  border: 2px solid white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}